@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Gloria+Hallelujah&family=Schoolbell&display=swap');
  
  html, body {
    margin: 0;
    padding: 0;
    line-height: normal;
  } 
  
  .logo {
    margin-top: 1vw;
    margin-left: 1vw;
    width: 30vw;
  }

  .line {
    width: 100vw;
    margin-bottom: 1vw;
  }
  
  button {
    color: #000;
    font-family: 'Architects Daughter', cursive;
    border: 0px solid rgb(0, 0, 0);
    background-color: #fff;
    font-size: 2.5vw;
    padding: 1vw;
    cursor: pointer;
    margin-left: 1vw;
  }
  
  button:hover {
    text-decoration: underline;
  }

  input {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3vw;
    margin-left: 10vw;
  }
  
  .home-columns {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    color: #ffffff;
    font-family: 'Schoolbell', cursive;
    font-size: 1.25vw;
    text-align: center;
    white-space: pre-wrap;
  }

  .home-columns h1 {
    color: #ffffff;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3vw;
    height: 3.6vw;
    margin-top: 0%;
  }

  .home-columns img {
    width: 80%;
    vertical-align: center;
  }

  /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 20%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.cards img {
  width: 60%;
  margin: 1vw;
  /* vertical-align: middle;
  justify-content: left; */
}