@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Gloria+Hallelujah&family=Schoolbell&display=swap');
  
  html, body {
    margin: 0;
    padding: 0;
  } 
  
  .manifest {
    display: flex;
    justify-content: left;
  }
  
  .manifest img {
    margin-top: 20px;
    margin-left: 20px;
    height: 30%;
    width: 30%;
  }

  img {
    width: 100vw;
  }
  
  button {
    color: #000;
    font-family: 'Architects Daughter', cursive;
    border: 0.25vw solid rgb(0, 0, 0);
    background-color: #fff;
    font-size: 2.5vw;
    padding: 1vw;
    cursor: pointer;
    margin-left: 20px;
  }
  
  button:hover {
    text-decoration: underline;
  }
  
  .columns {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    color: #ffffff;
    font-family: 'Schoolbell', cursive;
    font-size: 1.25vw;
    text-align: center;
    white-space: pre-wrap;
  }

  .columns h1 {
    color: #ffffff;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3vw;
    height: 3.6vw;
    margin-top: 0%;
  }

  .columns img {
    width: 80%;
    vertical-align: center;
  }