@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Gloria+Hallelujah&family=Schoolbell&display=swap');

.game-columns {
    display: grid;
    grid-template-columns: 2fr 3fr 1.5fr;
    color: #ffffff;
    font-family: 'Schoolbell', cursive;
    font-size: 1.8vw;
    text-align: center;
    white-space: pre-wrap;
    margin: 0;
    padding: 0;
}

.game-columns h1 {
    color: #ffffff;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3vw;
    margin-top: 0vw;
}

.game-columns img {
    width: 50%;
    margin: 1vw;
    vertical-align: middle;
    justify-content: left;
}

.game-columns .flip-img {
    /* -webkit-transform: scaleX(-1); */
    transform: scaleX(-1);
    border: 5px solid white;
}

.game-columns .rectangle {
    display: flex;
    width: 40vw;
    height: 30vw;
    background: rgb(36, 36, 36);
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
}

.game-columns .list {
    text-align: left;
    margin-left: 1vw;
}

.game-columns .list img {
    width: 30%;
}

.game-columns .list img {
    /* margin-bottom: 1vw; */
}