@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Gloria+Hallelujah&family=Schoolbell&display=swap');

.game-columns {
    display: grid;
    grid-template-columns: 5fr 6fr 3fr;
    color: #ffffff;
    font-family: 'Schoolbell', cursive;
    font-size: 1.8vw;
    text-align: center;
    white-space: pre-wrap;
    margin: 0;
    padding: 0;
}

.game-columns h1 {
    color: #ffffff;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3vw;
    margin-top: 0vw;
    margin-bottom: 1vw;
}

.game-columns button {
    margin-left: 1vw;
}

.game-columns img {
    width: 50%;
    margin: 1vw;
    vertical-align: middle;
    justify-content: left;
}

.game-columns .flip-img {
    /* -webkit-transform: scaleX(-1); */
    transform: scaleX(-1);
    border: 5px solid white;
}

.game-columns .list {
    text-align: left;
    margin-left: 1vw;
}

.game-columns .list img {
    width: 30%;
    margin-top: 0px;
}

.hand {
    display: flex;
    justify-content: center;
}

.results {
    text-align: center;
}

.results h1 {
    color: #ffffff;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3vw;
    margin-top: 0vw;
    margin-bottom: 1vw;
}

.results img {
    width: 20%;
    margin: 1vw;
    vertical-align: middle;
    justify-content: left;
}